<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Public Organization</title>{% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-2">

      {% block sidebar %}
        {% include "includes/sidebar.html" %}
      {% endblock %}

    </div>

    <div class="col-sm-10 ">

      {% if show_search %}
        <form method="get" action="">
          {{ search_form }}
          <button class="btn btn-secondary" type="submit">🔍Search</button>
        </form>
      {% endif %}

      {% block content %}{% endblock %}

      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

    </div>
  </div>
</div>
</body>

</html>
